/* 产品详情页 */
body{background: #fff;}
.imgListDiv{
	width:510px;height: 590px;float: left;position: relative;
}
/* bigImg */
.bigImg{
	width:498px;height: 498px;border:1px solid #666;position: relative;
}
.bigImg img{
	width:498px;height: 498px;
}
/* smalImgDiv */
.smalImgDiv{
	width: 500px;height: 50px;margin-top: 20px;
}
.smalImgDiv ul{
	float: left;width:410px;margin-left: 10px;
}
.smalImgDiv ul li{float: left;margin-left: 10px;border:1px solid #fff;}
.smalImgDiv ul li:hover{
	border:1px solid #f00;
}
.smalImgDiv ul li img{
	width: 50px;
	height: 50px;
}

.smalImgDiv label, .smalImgDiv span{
	width:35px;height: 50px;
	background-image: url('../images/weigit/icon_5.jpg');
	background-repeat: no-repeat;
	cursor: pointer;
}
.smalImgDiv label{
	background-position: top;
}
.smalImgDiv span{
	background-position: bottom;
}
#mousemoveDivId{
	width: 166px;
	height: 166px;
	background-color: rgba(255,232,112,.5);
	/* background-color: rgba(255,255,255,0.3); */
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	display: none;
}
/* zoomImg */
.zoomImg{
	width:498px;height: 498px;background: #ddd;display:none;
	position: absolute;top: -1px;right: -490px;z-index: 8;
	overflow: hidden;
}
.zoomImg img{
	width: 1494px;height: 1494px;position: absolute;
}

/* rightDiv */
.rightDiv{
	float: right;width:677px;
}
.productTitle{
	width:100%;height: auto;
}
.productTitle h1{
	font-size: 20px;font-weight: bold;
	color: #666666;line-height: 30px;
}
.productTitle h2{
	font-size: 12px;font-weight: normal;
	color: #f00;line-height: 30px;
}

/* switchAddressMenu */
.switchAddressMenu{
	width:250px;height: 25px;margin-top: 20px;
}
.switchAddressMenu label{
	float: left;color: #999999;font-size: 12px;
	letter-spacing:10px;float: left;line-height: 24px;
}
.addressTitle{
	height: 23px;line-height: 23px;padding:0 31px 0 5px;
	border: 1px solid #CCCCCC;color: #666666;
	font-size: 12px;position: relative;
	border-bottom: 0;float: left;
	background: #fff;cursor: pointer;
}
.addressTitle i{
	position: absolute;top: 7px;right: 10px;display: block;
	width:16px;height: 9px;
	background: url('../images/weigit/icon_6.jpg') no-repeat;
}

/* addressWrap p */
.addressWrap{
	width:396px;height: 194px;overflow: hidden;
	border: 1px solid #CCCCCC;float: left;clear: both;
	margin:-2px 0 0 66px;display: block;display: none;
}
.addressWrap p{
	clear: both;float: left;
	height: 20px;margin:20px 0 15px 12px;
	font-size: 12px;font-weight: bold;color: #666666;
}
.addressWrap ul{
	float: left;clear: both;margin:0 0 0 12px;
	border-bottom: 2px solid #EDD28B;
	width:374px;height: 25px;
}
.addressWrap ul li{
	float: left;height: 25px;background: #fff;
	font-size: 12px;font-weight: bold;color: #005AA0;
	text-align: center;padding:0 11px;
	margin:-1px 9px 0 0;
	border:1px solid #ddd;
	border-bottom: 0;cursor: pointer;

}
.addressWrap ul li.clickLi{
	height: 26px;
	border:2px solid #EDD28B;
	border-bottom: 0;
}
/* addressItem */
.addressItem{
	width:374px;height: 100px;float: left;clear: both;
	margin:5px 0 0 12px;
}
.addressItem p{
	width:85px;height: 25px;line-height: 25px;
	float: left;text-align: left;font-weight: normal;
	margin:0;padding:0;clear: none;overflow: hidden;
	cursor: pointer;padding-left: 5px;
}
.addressItem p:hover{
	background: #f00;color: #fff;
}

/* chooseBtns */
.chooseBtns{
	width:287px;height: 55px;float: left;clear: both;
	margin:20px 0 0 78px;
}
.wrapInput{
	width:54px;height: 48px;float: left;
	border:1px solid #ccc;margin:0 11px 0 0;
	position: relative;
}
.buyNum{
	width:37px;height: 48px;border:0;float: left;
	margin:0;padding:0;text-align: center;
	font-size: 15px;color: #270027;
}
.btnAdd{
	width:16px;height: 25px;border:1px solid #ccc;
	position: absolute;top: -1px;right: -1px;
	margin:0;padding:0;
}
.btnReduce{
	width:16px;height: 26px;border:1px solid #ccc;
	position: absolute;bottom: -1px;right: -1px;
	margin:0;padding:0;
}
.btnAdd, .btnReduce {
	background: #F1F1F1;text-align: center;
	color: #666666;cursor: pointer;
}
a.gotoShoppingCartBtn{
	width:157px;height: 50px;float: left;color: #fff;
	font-size: 22px;font-weight: bold;text-align: center;
	line-height: 50px;display: block;background: #DF3033;
	text-decoration: none;
}